@charset "utf-8";
/* CSS Document */
body {	background-color:#639;
		font-family:Verdana, Geneva, sans-serif;
		background-image:url(img/temp_bg.png);
		background-position:top;
		background-repeat:repeat-x;
		font-size: 12px;
		color: #000;
		}

a:link {
	color: #000;
	text-decoration: underline;
}
a:visited {
	text-decoration: underline;
	color: #333;
}
a:hover {
	text-decoration: none;
	color: #90C;
}
a:active {
	text-decoration: underline;
	color: #000;
}		


p {
		font-size:12px;
		font:Verdana, Geneva, sans-serif;
		line-height:20px;
		margin:0; padding:0;
	}
	
#all {
	width:800px;
	height:600px;
	margin:0 auto 0 auto;
	}

#notice {
	width:380px;
	height:300px;
	position:relative;
	left:300px;
	top:20px;
	text-align:right;
	letter-spacing:1px;
	line-height:20px;
	margin:0;
	}

#logo {
	background-image:url(img/temp_logo.png);
	background-position:0% 100%;
	background-repeat:no-repeat;
	width:700px;
	height:600px;
	position:relative;
	bottom:0px;
	left:20px;
	margin:0;
}