.version.index /* version checker */
{
	color: #00001A;
	background-color: #EA6B64;
}

.html
{
	background: #534741 url("../images/painting.jpg") repeat center top fixed;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 2796.599999999993px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	margin-bottom: -17px;
	width: 0.01px;
}

#pu75
{
	width: 0.01px;
	margin-left: -100px;
}

#u75
{
	z-index: 170;
	min-height: 233px;
	border-style: solid;
	border-color: #6D0009;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.7);
	padding-bottom: 82px;
	border-width: 5px 0px;
	-pie-background: rgba(255,255,255,0.7);
}

#u88-8
{
	z-index: 171;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 115px;
	left: 440px;
}

#u79-4
{
	z-index: 179;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 147px;
	left: 1038px;
}

#u75-bw
{
	z-index: 170;
	min-height: 233px;
	margin-bottom: -3px;
	margin-top: 272px;
}

#u86-4
{
	z-index: 183;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 424px;
	left: 369px;
}

#u578
{
	z-index: 187;
	width: 183px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.42);
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #282828;
	background-color: rgba(0,0,0,0.84);
	padding-bottom: 20px;
	position: relative;
	margin-right: -10000px;
	left: 66px;
	border-width: 0px 4px 4px;
	-pie-background: rgba(0,0,0,0.84);
}

#u78-5
{
	z-index: 188;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 36px;
	left: -51px;
}

#buttonu285
{
	z-index: 193;
	width: 63px;
	border-color: #787878;
	background-color: #CACACA;
	border-radius: 10px;
	padding-bottom: 16px;
	margin-left: 490px;
	margin-top: 157px;
	position: relative;
}

#buttonu285:hover
{
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-color: #545454;
	width: 63px;
	min-height: 0px;
	margin: 157px 0px 0px 490px;
}

#buttonu285:active
{
	-pie-box-shadow: none;
	box-shadow: none;
	background-color: #545454;
	width: 63px;
	min-height: 0px;
	margin: 157px 0px 0px 490px;
}

#buttonu285.ButtonSelected
{
	-pie-box-shadow: none;
	box-shadow: none;
	background-color: #CACACA;
	width: 63px;
	min-height: 0px;
	margin: 157px 0px 0px 490px;
}

#u287
{
	z-index: 194;
	width: 18px;
	height: 17px;
	border-color: #000000;
	background-color: #545454;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 23px;
}

#buttonu285:hover #u287
{
	background-color: #FFFFFF;
	width: 18px;
	height: 17px;
	min-height: 0px;
	margin: 16px -10000px 0px 0px;
}

#buttonu285:active #u287
{
	background-color: #FFFFFF;
	width: 18px;
	height: 17px;
	min-height: 0px;
	margin: 16px -10000px 0px 0px;
}

#pu640
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 146px;
}

#u640
{
	z-index: 73;
	min-height: 18px;
	background-color: #7F7F7F;
	background-color: rgba(0,0,0,0.5);
	padding-bottom: 746px;
	-pie-background: rgba(0,0,0,0.5);
}

#u640-bw
{
	z-index: 73;
	min-height: 18px;
}

#accordionu329
{
	z-index: 74;
	width: 601px;
	border-width: 2px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	-webkit-transform: matrix(0,-1,1,0,-210,815);
	-ms-transform: matrix(0,-1,1,0,-210,815);
	transform: matrix(0,-1,1,0,-210,815);
	margin-bottom: -131px;
	position: relative;
	margin-right: -10000px;
	margin-top: -129px;
	left: 309px;
}

#u338
{
	z-index: 75;
	width: 601px;
	background-color: transparent;
	padding-bottom: 0px;
	position: relative;
}

#u339
{
	z-index: 77;
	height: 80px;
	width: 601px;
	vertical-align: top;
	position: relative;
	background: url("../images/u339.png") no-repeat 0px 0px;
}

#u339:hover
{
	background: url("../images/u339-r.png") no-repeat 0px 0px;
}

#u339:active
{
	background: url("../images/u339-m.png") no-repeat 0px 0px;
}

#u339.AccordionPanelTabOpen
{
	background: url("../images/u339-a.png") no-repeat 0px 0px;
}

#u340
{
	z-index: 81;
	width: 599px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.9);
	padding-bottom: 14px;
	position: relative;
	-pie-background: rgba(255,255,255,0.9);
}

#pu386
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 45px;
	margin-left: 38px;
}

#u386
{
	z-index: 93;
	width: 180px;
	height: 240px;
	-webkit-transform: matrix(0,1,-1,0,210,30);
	-ms-transform: matrix(0,1,-1,0,210,30);
	transform: matrix(0,1,-1,0,210,30);
	margin-left: 285px;
	top: -30px;
	margin-bottom: -60px;
	position: relative;
	background: transparent url("../images/e31693.jpg") no-repeat left top;
	background-size: contain;
}

#u397
{
	z-index: 94;
	width: 180px;
	height: 226px;
	-webkit-transform: matrix(0,1,-1,0,203,23);
	-ms-transform: matrix(0,1,-1,0,203,23);
	transform: matrix(0,1,-1,0,203,23);
	margin-left: 23px;
	top: -203px;
	margin-bottom: -203px;
	position: relative;
	background: transparent url("../images/1600_10.jpg") no-repeat left top;
	background-size: contain;
}

#pu341-11
{
	width: 0.01px;
	padding-bottom: 9px;
	margin-right: -10000px;
	margin-top: 252px;
	margin-left: 38px;
}

#u341-11
{
	z-index: 82;
	-webkit-transform: matrix(0,1,-1,0,385,-48);
	-ms-transform: matrix(0,1,-1,0,385,-48);
	transform: matrix(0,1,-1,0,385,-48);
	margin-left: 121px;
	margin-top: 49px;
	margin-bottom: 49px;
	position: relative;
}

#u404
{
	z-index: 95;
	width: 230px;
	height: 165px;
	-webkit-transform: matrix(0,1,-1,0,198,-32);
	-ms-transform: matrix(0,1,-1,0,198,-32);
	transform: matrix(0,1,-1,0,198,-32);
	left: -32px;
	top: -207px;
	margin-bottom: -175px;
	position: relative;
	background: transparent url("../images/abcsofdada.jpg") no-repeat left top;
	background-size: contain;
}

#u334
{
	z-index: 96;
	width: 601px;
	background-color: transparent;
	position: relative;
}

#u337
{
	z-index: 98;
	height: 80px;
	width: 601px;
	vertical-align: top;
	position: relative;
	background: url("../images/u337.png") no-repeat 0px 0px;
}

#u337:hover
{
	background: url("../images/u337-r.png") no-repeat 0px 0px;
}

#u337:active
{
	background: url("../images/u337-m.png") no-repeat 0px 0px;
}

#u337.AccordionPanelTabOpen
{
	background: url("../images/u337-a.png") no-repeat 0px 0px;
}

#u335
{
	z-index: 102;
	width: 599px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.9);
	padding-bottom: 16px;
	position: relative;
	-pie-background: rgba(255,255,255,0.9);
}

#u336-14
{
	z-index: 103;
	-webkit-transform: matrix(0,1,-1,0,399,106);
	-ms-transform: matrix(0,1,-1,0,399,106);
	transform: matrix(0,1,-1,0,399,106);
	position: relative;
	width: 292px;
	margin-right: -10000px;
	margin-top: -90px;
	left: 150px;
}

#pu652
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 328px;
	margin-left: 83px;
}

#u652
{
	z-index: 117;
	width: 156px;
	height: 215px;
	-webkit-transform: matrix(0,1,-1,0,186,29);
	-ms-transform: matrix(0,1,-1,0,186,29);
	transform: matrix(0,1,-1,0,186,29);
	margin-left: 289px;
	margin-top: 127px;
	margin-bottom: -29px;
	position: relative;
	background: transparent url("../images/url-u652-fr.jpg") no-repeat left top;
	background-size: contain;
}

#u659
{
	z-index: 118;
	width: 355px;
	height: 244px;
	-webkit-transform: matrix(0,1,-1,0,300,-55);
	-ms-transform: matrix(0,1,-1,0,300,-55);
	transform: matrix(0,1,-1,0,300,-55);
	left: -55px;
	top: -256px;
	margin-bottom: -200px;
	position: relative;
	background: transparent url("../images/surrealism.jpg") no-repeat left top;
	background-size: contain;
}

#u330
{
	z-index: 119;
	width: 601px;
	background-color: transparent;
	position: relative;
}

#u331
{
	z-index: 121;
	height: 80px;
	width: 601px;
	vertical-align: top;
	position: relative;
	background: url("../images/u331.png") no-repeat 0px 0px;
}

#u331:hover
{
	background: url("../images/u331-r.png") no-repeat 0px 0px;
}

#u331:active
{
	background: url("../images/u331-m.png") no-repeat 0px 0px;
}

#u331.AccordionPanelTabOpen
{
	background: url("../images/u331-a.png") no-repeat 0px 0px;
}

#u332
{
	z-index: 125;
	width: 599px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.9);
	padding-bottom: 23px;
	position: relative;
	-pie-background: rgba(255,255,255,0.9);
}

#pu673
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 20px;
	margin-left: 39px;
}

#u673
{
	z-index: 142;
	width: 321px;
	height: 195px;
	-webkit-transform: matrix(0,1,-1,0,258,-63);
	-ms-transform: matrix(0,1,-1,0,258,-63);
	transform: matrix(0,1,-1,0,258,-63);
	margin-left: 278px;
	margin-top: 63px;
	margin-bottom: 63px;
	position: relative;
	background: transparent url("../images/3_oct_13_rodchenko_stepanova_books.jpg") no-repeat left top;
	background-size: cover;
}

#u333-12
{
	z-index: 126;
	-webkit-transform: matrix(0,1,-1,0,345,-16);
	-ms-transform: matrix(0,1,-1,0,345,-16);
	transform: matrix(0,1,-1,0,345,-16);
	left: -16px;
	top: -301px;
	margin-bottom: -284px;
	position: relative;
}

#pu648-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 403px;
	margin-left: 39px;
}

#u648-4
{
	z-index: 138;
	-webkit-transform: matrix(0,1,-1,0,226,-48);
	-ms-transform: matrix(0,1,-1,0,226,-48);
	transform: matrix(0,1,-1,0,226,-48);
	margin-left: 301px;
	margin-top: 48px;
	margin-bottom: 48px;
	position: relative;
}

#u680
{
	z-index: 143;
	width: 217px;
	height: 341px;
	-webkit-transform: matrix(0,1,-1,0,279,62);
	-ms-transform: matrix(0,1,-1,0,279,62);
	transform: matrix(0,1,-1,0,279,62);
	margin-left: 62px;
	top: -279px;
	margin-bottom: -279px;
	position: relative;
	background: transparent url("../images/plakat_mayakowski_gross.jpg") no-repeat left top;
	background-size: contain;
}

#u346
{
	z-index: 144;
	width: 601px;
	background-color: transparent;
	position: relative;
}

#u349
{
	z-index: 146;
	height: 80px;
	width: 601px;
	vertical-align: top;
	position: relative;
	background: url("../images/u349.png") no-repeat 0px 0px;
}

#u349:hover
{
	background: url("../images/u349-r.png") no-repeat 0px 0px;
}

#u349:active
{
	background: url("../images/u349-m.png") no-repeat 0px 0px;
}

#u349.AccordionPanelTabOpen
{
	background: url("../images/u349-a.png") no-repeat 0px 0px;
}

#u347
{
	z-index: 150;
	width: 599px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.9);
	padding-bottom: 45px;
	position: relative;
	-pie-background: rgba(255,255,255,0.9);
}

#pu368-10
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 12px;
	margin-left: 29px;
}

#u368-10
{
	z-index: 151;
	-webkit-transform: matrix(0,1,-1,0,291,0);
	-ms-transform: matrix(0,1,-1,0,291,0);
	transform: matrix(0,1,-1,0,291,0);
	margin-left: 204px;
	margin-top: 2px;
	margin-bottom: 1px;
	position: relative;
}

#u694
{
	z-index: 169;
	width: 292px;
	height: 173px;
	-webkit-transform: matrix(0,1,-1,0,232,-60);
	-ms-transform: matrix(0,1,-1,0,232,-60);
	transform: matrix(0,1,-1,0,232,-60);
	left: -59px;
	top: -232px;
	margin-bottom: -172px;
	position: relative;
	background: transparent url("../images/800px-umberto_boccioni_001.jpg") no-repeat left top;
	background-size: cover;
}

#pu687
{
	width: 0.01px;
	padding-bottom: 1px;
	margin-right: -10000px;
	margin-top: 324px;
	margin-left: 26px;
}

#u687
{
	z-index: 168;
	width: 329px;
	height: 269px;
	-webkit-transform: matrix(0,1,-1,0,299,-30);
	-ms-transform: matrix(0,1,-1,0,299,-30);
	transform: matrix(0,1,-1,0,299,-30);
	margin-left: 187px;
	margin-top: 30px;
	margin-bottom: 30px;
	position: relative;
	background: transparent url("../images/giacomo_balla%2c_1912%2c_dinamismo_di_un_cane_al_guinzaglio_(dynamism_of_a_dog_on_a_leash)%2c_albright-knox_art_gallery.jpg") no-repeat left top;
	background-size: contain;
}

#u647-7
{
	z-index: 161;
	-webkit-transform: matrix(0,1,-1,0,254,-73);
	-ms-transform: matrix(0,1,-1,0,254,-73);
	transform: matrix(0,1,-1,0,254,-73);
	left: -73px;
	top: -254px;
	margin-bottom: -180px;
	position: relative;
}

#u341-11_img,#u336-14_img,#u333-12_img,#u648-4_img,#u368-10_img,#u647-7_img
{
	display: block;
	vertical-align: top;
}

#buttonu297
{
	z-index: 195;
	width: 63px;
	border-color: #787878;
	background-color: #CACACA;
	border-radius: 10px;
	padding-bottom: 16px;
	margin-left: 490px;
	margin-top: 20px;
	position: relative;
}

#buttonu297:hover
{
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-color: #545454;
	width: 63px;
	min-height: 0px;
	margin: 20px 0px 0px 490px;
}

#buttonu297:active
{
	-pie-box-shadow: none;
	box-shadow: none;
	background-color: #545454;
	width: 63px;
	min-height: 0px;
	margin: 20px 0px 0px 490px;
}

#u298
{
	z-index: 196;
	width: 18px;
	height: 17px;
	border-color: #000000;
	background-color: #545454;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 23px;
}

#buttonu297:hover #u298
{
	background-color: #FFFFFF;
	width: 18px;
	height: 17px;
	min-height: 0px;
	margin: 16px -10000px 0px 0px;
}

#buttonu297:active #u298
{
	background-color: #FFFFFF;
	width: 18px;
	height: 17px;
	min-height: 0px;
	margin: 16px -10000px 0px 0px;
}

#buttonu285.ButtonSelected #u287,#buttonu297.ButtonSelected #u298
{
	background-color: #545454;
	width: 18px;
	height: 17px;
	min-height: 0px;
	margin: 16px -10000px 0px 0px;
}

#u749
{
	z-index: 41;
	min-height: 328px;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.8);
	padding-bottom: 20px;
	-pie-background: rgba(255,255,255,0.8);
}

#home,#intro,#view
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
}

#pu752-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 17px;
	margin-left: 121px;
}

#u752-4
{
	z-index: 69;
	display: block;
	vertical-align: top;
	position: relative;
}

#u748-10
{
	z-index: 42;
	display: block;
	vertical-align: top;
	margin-left: 1px;
	margin-top: 20px;
	position: relative;
}

#u750-10
{
	z-index: 52;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 434px;
}

#u751-7
{
	z-index: 62;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 749px;
}

#u749-bw
{
	z-index: 41;
	min-height: 328px;
	margin-top: 117px;
}

#pu550
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -1px;
}

#u550
{
	z-index: 9;
	height: 558px;
	background-color: #666666;
	background-color: rgba(0,0,0,0.6);
	-pie-background: rgba(0,0,0,0.6);
}

#u550-bw
{
	z-index: 9;
	height: 558px;
}

#slideshowu253
{
	z-index: 10;
	width: 0.01px;
	height: 505px;
	position: relative;
	margin-right: -10000px;
	margin-top: 23px;
	left: 101px;
}

#u272
{
	position: absolute;
	width: 808px;
	height: 505px;
	background-color: transparent;
	left: 129px;
}

#u272popup
{
	z-index: 11;
}

#u466
{
	z-index: 12;
	width: 808px;
	height: 505px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u466_img
{
	margin-top: -32px;
	margin-bottom: -33px;
}

#u475
{
	z-index: 14;
	width: 808px;
	height: 505px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u475_img
{
	margin-top: -39px;
	margin-bottom: -40px;
}

#u493
{
	z-index: 16;
	width: 808px;
	height: 505px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u493_img
{
	margin-top: -12px;
	margin-bottom: -12px;
}

#u502
{
	z-index: 18;
	width: 808px;
	height: 505px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u502_img
{
	margin-top: -35px;
	margin-bottom: -35px;
}

#u484
{
	z-index: 20;
	width: 808px;
	height: 505px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u484_img
{
	margin-top: -20px;
	margin-bottom: -21px;
}

#u457
{
	z-index: 22;
	width: 808px;
	height: 505px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u457_img
{
	margin-top: -31px;
	margin-bottom: -31px;
}

#u275
{
	z-index: 24;
	width: 808px;
	height: 505px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u466_clip,#u475_clip,#u493_clip,#u502_clip,#u484_clip,#u457_clip,#u275_clip
{
	overflow: hidden;
	width: 808px;
	height: 505px;
}

#u275_img
{
	margin-top: -21px;
	margin-bottom: -21px;
}

#u256
{
	position: absolute;
	width: 105px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 130px;
}

#u256popup
{
	z-index: 26;
}

#u469
{
	z-index: 27;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 22px;
}

#u469.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	width: 60px;
	height: 45px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u478
{
	z-index: 29;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 22px;
}

#u478.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	width: 60px;
	height: 45px;
	min-height: 0px;
	margin: 55px -10000px 0px 0px;
}

#u478_img
{
	margin-left: -1px;
	margin-right: -1px;
}

#u496
{
	z-index: 31;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
	left: 22px;
}

#u496.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	width: 60px;
	height: 45px;
	min-height: 0px;
	margin: 110px -10000px 0px 0px;
}

#u496_img
{
	margin-left: -4px;
	margin-right: -5px;
}

#u505
{
	z-index: 33;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 165px;
	left: 22px;
}

#u505.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	width: 60px;
	height: 45px;
	min-height: 0px;
	margin: 165px -10000px 0px 0px;
}

#u505_img
{
	margin-left: -2px;
	margin-right: -1px;
}

#u487
{
	z-index: 35;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 220px;
	left: 22px;
}

#u487.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	width: 60px;
	height: 45px;
	min-height: 0px;
	margin: 220px -10000px 0px 0px;
}

#u487_img
{
	margin-left: -3px;
	margin-right: -4px;
}

#u460
{
	z-index: 37;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 275px;
	left: 22px;
}

#u460.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	width: 60px;
	height: 45px;
	min-height: 0px;
	margin: 275px -10000px 0px 0px;
}

#u469_img,#u460_img
{
	margin-left: -2px;
	margin-right: -2px;
}

#u257
{
	z-index: 39;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 330px;
	left: 22px;
}

#u257.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	width: 60px;
	height: 45px;
	min-height: 0px;
	margin: 330px -10000px 0px 0px;
}

#u469_clip,#u478_clip,#u496_clip,#u505_clip,#u487_clip,#u460_clip,#u257_clip
{
	overflow: hidden;
	width: 60px;
	height: 45px;
}

#u257_img
{
	margin-left: -3px;
	margin-right: -3px;
}

.AccordionPanelTab,.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* accordion */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#buttonu756
{
	z-index: 197;
	width: 63px;
	border-color: #787878;
	background-color: #CACACA;
	border-radius: 10px;
	padding-bottom: 4px;
	margin-left: 490px;
	margin-top: 20px;
	position: relative;
}

#buttonu756:hover
{
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-color: #545454;
	width: 63px;
	min-height: 0px;
	margin: 20px 0px 0px 490px;
}

#buttonu756:active
{
	-pie-box-shadow: none;
	box-shadow: none;
	background-color: #545454;
	width: 63px;
	min-height: 0px;
	margin: 20px 0px 0px 490px;
}

#buttonu297.ButtonSelected,#buttonu756.ButtonSelected
{
	-pie-box-shadow: none;
	box-shadow: none;
	background-color: #CACACA;
	width: 63px;
	min-height: 0px;
	margin: 20px 0px 0px 490px;
}

#u758-4
{
	z-index: 198;
	width: 33px;
	min-height: 36px;
	background-color: transparent;
	font-size: 38px;
	line-height: 46px;
	color: #545454;
	position: relative;
	margin-right: -10000px;
	left: 12px;
}

#buttonu756:hover #u758-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	width: 33px;
	margin: 0px -10000px 0px 0px;
}

#buttonu756:active #u758-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	width: 33px;
	margin: 0px -10000px 0px 0px;
}

#buttonu756.ButtonSelected #u758-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	width: 33px;
	margin: 0px -10000px 0px 0px;
}

#buttonu756:hover #u758-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu756:active #u758-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu756.ButtonSelected #u758-4 p
{
	color: #545454;
	visibility: inherit;
}

#u761
{
	z-index: 2;
	min-height: 32px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.8);
	padding-bottom: 6px;
	-pie-background: rgba(255,255,255,0.8);
}

#u75_align_to_page,#u640_align_to_page,#u749_align_to_page,#u761_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
}

#u762-6
{
	z-index: 3;
	width: 960px;
	min-height: 26px;
	background-color: transparent;
	color: #534741;
	font-size: 12px;
	text-align: center;
	line-height: 14px;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 100px;
}

#u761-bw
{
	z-index: 2;
	min-height: 32px;
	margin-top: 30px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 18px;
}

#page .verticalspacer
{
	clear: both;
}

