@charset "utf-8";
@import url("ver1.css");
/* CSS Document */

body {	background-color:#000000;
		margin:0;
		padding:0;
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size:10px;
		}
a:link { color:#630;}
a:hover { text-decoration:underline;}
a:visited { color:#804000;}
		
#main	{	width:1024px;
			height:auto;
			margin:0 auto 0 auto;
			}

#header	{
	width: 1024px;
	height: 100px;
	font-family: Verdana, Geneva, sans-serif;
	color: #CCC;
			}
		
#fl {	width:1024px;
		height:600px;
		}
#info {
	width: 1024px;
	height: auto;
	color: #630;
	font-size: 14px;
	background-color: #FFF;
	padding: 20px;
		}
	
#footer	{	width:1024px;
			height:auto;
			color:#CCC;
			text-align:right;
			}
.bold {
	font-weight: bold;
	color: #630;
}
.table_info {
	text-align: center;
	font-size:36px;
	font-weight: bold;
}

.info2 {
	font-size: 14px;
	font-weight: normal;
}
